/* Top Bar */
.top-bar {
  background-color: black;
  min-height: 40px;
  padding-top: 5px;
  padding-bottom: 0px;
}

/* Style for navigation text in the top bar */
.top-bar .nav-text {
  color: #00BCD4;
  display: block;
  margin-top: 5px;
  transition: color 0.3s ease, transform 0.3s ease;
  /* Add smooth transition */
}

/* Hover effect for navigation text in the top bar */
.top-bar .nav-text:hover {
  color: #009688;
  transform: scale(1.1);
}

/* Style for social links in the top bar */
.top-bar .social {
  color: #FFF;
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  /* Add smooth transition */
}

/* Hover effect for social links in the top bar */
.top-bar .social:hover {
  color: #009688;
  /* Change color on hover */
  transform: scale(1.1);
  /* Scale up on hover */
}

/* Style for dropdown menu items in the top bar */
.top-bar .tools .dropdown-menu a {
  color: black;
  display: block;
  transition: color 0.3s ease, transform 0.3s ease;
  /* Add smooth transition */
}

/* Hover effect for dropdown menu items in the top bar */
.top-bar .tools .dropdown-menu a:hover {
  color: #009688;
  /* Change color on hover */
  transform: scale(1.1);
  /* Scale up on hover */
}

.nav-text-group {
  display: flex;
  justify-content: space-between;
}

.nav-text {
  margin-right: 10px;
}

.top-bar .tools {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.top-bar .tools li {
  list-style-type: none;
  display: inline-block;
}

/* Hover effect for nav items in the top bar */
.nav-item:hover {
  background-color: #009688;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
}

/* Hover effect for "About" dropdown items */
.dropdown-item.about-dropdown-item:hover {
  color: #009688;
  transform: scale(1.1);
}

/* Style for links in the top bar */
.top-bar .tools li a {
  display: block;
  text-decoration: none;
  color: white;
  padding-left: 15px;
  padding-top: 5px;
}

/* Hover effect for links in the top bar */
.top-bar .tools li a:hover {
  color: #009688;
  transform: scale(1.1);
}

/* Navbar */
.navbar-brand {
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  z-index: 11;
  margin: 0 auto;
  right: 94%;
  border-radius: 5px;
  background-color: #009688;
}

/* Hover effect for navbar brand */
.navbar-brand:hover {
  background-color: #009688;
  transform: scale(1.2);
  border-radius: 20px;
}

/* Style for navbar-inverse */
.navbar-inverse {
  background-color: #009688;
  border-color: #080808;
}

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid #000;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Style for navbar-inverse links */
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

/* Style for .nav elements */
.nav>li>a {
  position: relative;
  display: block;
  padding: 15px 11px;
}

/* Style for form control */
.form-control {
  border-color: #fff;
  border-radius: 0px;
  background-color: transparent;
}

/* Style for default button */
.btn-default-1 {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border-radius: 0px;
}

/* Animation for cart-heart icon */
.cart-heart a {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding: 5px;
  transition: transform 0.3s ease;
  /* Add smooth transition */
}

/* Hover effect for cart-heart icon */
.cart-heart a:hover {
  transform: rotate(360deg);
  color: #009688;
}

/* Add this to your CSS file or style section */
.bg-home {
  background-color: #009688 !important;
  color: white !important;
  border-radius: 5px;
}


.backgcolor {
  background-color: #009688;
}

/* Media query for screens smaller than 768px (adjust as needed) */
@media (max-width: 768px) {

  /* Modify the navbar-brand for smaller screens */
  .navbar-brand {
    font-size: 16px;
  }

  /* Adjust padding and font size for .nav elements */
  .nav>li>a {
    padding: 10px 8px;
    font-size: 14px;
  }
}