/* Styling for the login container */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
}

/* Hover effect for the login container */
.login-container:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Styling for the heading within the login container */
.login-container h2 {
  margin-bottom: 20px;
  text-align: center;
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  color: #009688;
  /* Green color for the heading */
}

/* Styling for text paragraphs within the login container */
.login-container p {
  color: white;
}

/* Styling for the form within the login container */
.login-container form {
  display: flex;
  flex-direction: column;
}

/* Styling for labels within the login container */
.login-container label {
  margin-bottom: 6px;
  font-weight: bold;
  display: block;
}

/* Styling for input fields within the login container */
.login-container input {
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid white;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Styling for icons within the login container */
.i {
  margin-right: 10px;
  padding-bottom: 2px;
  width: 40px;
  height: 42px;
}

/* Styling for custom icons within the login container */
.custom-icon {
  color: #009688;
  /* Green color for the custom icons */
}

/* Styling for generic spans within the login container */
span {
  color: white;
}

/* Styling for buttons within the login container */
.login-container button {
  background-color: #009688;
  /* Green color for the buttons */
  border-radius: 0.3rem;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, text-shadow 0.4s ease-in-out;
  padding: 0.375rem 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  border: none;
}

/* Hover effect for buttons within the login container */
.login-container button:hover {
  background-color: #009687c1;
  /* Slightly darker green color on hover */
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Styling for the expanded login container */
.login-container.expanded {
  max-width: 400px;
  /* Adjusted max-width for the expanded container */
}